<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
    </head>
    <body>
        <!-- Button to return to the main page at the top of the page -->
        <a href="http://127.0.0.1:5000/"><button>Return to Main Page</button></a>
        
        <h1>About</h1>
        <p>This dataset was provided by Chase Willden and can be found it the Data.World Website through the following link: https://data.world/chasewillden/web
            development-courses-from-udemy/workspace/file?filename=WebDevelopment.csv
            The dataset in original csv format displays 1200 records about Web Development Courses from the learning plataform Udemy. This website provides information about
            the courses names, payment form (if a course is free it shall display 'True' and if is paid, it shall display "False"), course's price, course's number of subscribers, number of reviews provided, number of published lectures and instructional level (begginer, intermediate, expert or all
            levels) in this particular order.
        </p>
    </body>
</html>
